

body {
    background-color: rgb(190, 220, 203);
    font-family: Courier, monospace;
    color: #444c61;
    text-align: center;
    text-transform: uppercase;

}
h2 { color: rgb(184, 11, 164);}


/*  Heading & image */

.heading {
    text-align: center;
    font-size: 3rem;
}

.Image {
    height: 500px;
    display:inline; 
}


/* --------- Game layout */

.game-area {
    background-color: #E6ECF0;
    box-sizing: border-box;
    width: 70%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}


.selections {
    width: 85%;
    margin: 30px auto;
}

.results-area {
    font-size: 2.5rem;
    margin-top: 5rem;
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
  }

  .result-score {
    margin-left: .1rem;
    font-size: 2.5rem;
    color:#444c61
  }



.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}


#score {
    color: green;
    font-weight: bold;
}

#incorrect {
    color: red;
    font-weight: bold;
}


.scores {
    display: inline-block;
    padding: 40px;
}

/* --------- Buttons */

.btn {
    width: 220px;
    height: 60px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
    cursor: pointer;
    transition: 100ms;
    
}

.btn:hover {
transform: scale(1.2);
}



.btn-lg {
    padding-top: 10px;
    border-radius: 50%;
    background-color: white;
    border: 10px solid;
    width: 130px;
    height: 150px;
    font-size: 3.2rem;
    margin: 0 30px;
    transition: all 0.5s;
}

.btn-lg::after{
    content: attr(data-type);
    font-size: 1rem;
    color: #445361;
    position: relative;
    left: -0.5em;
}

.btn--grey {
    border-color: grey;
    color: grey;
}
.btn--grey:active,
.btn--grey:hover {
    background-color: darkgrey;
    color: grey;
}

.btn--blue
 {
    border-color: rgb(0, 51, 255);
    color: blue;
}
.btn--blue:active,
.btn--blue:hover {
    background-color: darkblue;
    color: blue;
}

.btn--orange {
    border-color: orange;
    color: orange;
}

.btn--orange:active,
.btn--orange:hover {
    background-color: darkorange;
    color: orange;
}

.btn--red {
    border-color: red;
    color: red;}

.btn--red:active,
.btn--red:hover {
    background-color: darkred;
    color: red;
}

.btn--green {
    border-color: green;
    color: green;
}
.btn--green:active,
.btn--green:hover {
    background-color: darkgreen;
    color: green;
}

.btn--gray {
    margin-top: 25px;
    background-color: #445361;
    border: 1px transparent;
    border-radius: 20px;
}


/* --------- Media queries */

@media (max-width: 414px) {
    .selections {
        width: 100%;
    }
}

    .btn--lg {
        margin: 0 10px;
        padding: 5px;
        border: 5px solid;
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }

    .btn--lg::after {
        font-size: 0.6rem;
        left: -0.7rem;
    }



    .score-area {
        width: 100%;
    }

    .scores {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }

    .heading {
        font-size: 2rem;
    }


@media (max-width: 320px) {
    .game-area {
        height: 70vh;
    }
}

@media (max-width: 320px) {
    .score-area {
        height: 70vh;
    }


    .btn--big {
        margin: 10px 10px;
    }
}

@media only screen and (min-device-width: 480px){
    .game-area
}
@media only screen and (min-device-width: 480px){
    .score-area
}

/*  Icons */

.game-area > i
{font-size: 800%;}
